{% extends "base.html" %}
{% block title %} START {% endblock %}
{% block content %}
<form action="{% url 'finish' %}">
    <input type="number" name="a" required="" step="0.0001" placeholder="Введите значение а">
    <input type="number" name="b" required="" step="0.0001" placeholder="Введите значение b">
    <input type="number" name="c" required="" step="0.0001" placeholder="Введите значение c">
    <input type="reset" name="" value="Очистить"><br><br>
    <input type="submit" value="Узнать ответ"><br><br>
</form>
{% endblock %}

